
<html>
<head>
	<link href="../css/style.css" rel="stylesheet">
	<link href="../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">

<div class="navLinkDiv">

 
		<a class="underlineHover"  href="/" style="float: left;">Back</a>
		<a class="underlineHover" href="/login" style="float: right;">Sign Out</a>
	  </div>
	  <div style="clear: both;"></div>

  <h3 style="text-align: center; padding: 10px; margin-top: 10px;border-radius: 10px;" class="btn-warning">Thank You for Contact us</h1>
</div>
</body>
</html>